<head>
  <title>Chat</title>
</head>
<body>
  <div class="container container-flex flex-center">
    <div class="messages">
      <div class="bubbles">
        <div class="message-bubble">
        </div>
      </div>
      <div class="message-inputs">
        <input id="your-message" type="text" placeholder="Say something...">
        <button id="send-message">Send</button>
      </div>
    </div>
  </div>
</body>
<script>
const facebookId = <%= user.facebookId %>
</script>
