<head>
  <title>Chat</title>
</head>
<body>
  <div class="container container-flex flex-center-center">
    <a class="btn btn-border btn-lg btn-facebook-hook" href="/login/facebook">
      <i class="fab fa-facebook-f btn-facebook"></i>
      <span id="btn-span">Login with Facebook</span>
    </a>
  </div>
</body>
